.menu{
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  align-items: center;
  display: flex;
  justify-content: space-around;
  list-style: none;
  height: 4rem;
  cursor: pointer;
}
